# Base de données
DATABASE_URL=postgresql://postgres:password@localhost:5433/terangatable

# Redis
REDIS_URL=redis://localhost:6379

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# JWT
JWT_SECRET=change_me_super_secret_jwt_key_32chars_min
JWT_REFRESH_SECRET=change_me_refresh_secret_key_32chars_min
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Stockage objet (MinIO compatible S3)
S3_ENDPOINT=http://localhost:9000
S3_BUCKET=terangatable
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin

# Meilisearch
MEILISEARCH_HOST=http://localhost:7700
MEILISEARCH_KEY=masterKey

# SMTP
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@terangatable.com

# Frontend (exposé au navigateur)
NEXT_PUBLIC_API_URL=http://localhost:3001/v1
NEXT_PUBLIC_WS_URL=ws://localhost:3001

# Plateforme
PLATFORM_DOMAIN=terangatable.com
CDN_BASE_URL=https://cdn.terangatable.com

# Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

APP_URL=http://localhost:3000
PORT=3001
NODE_ENV=development
