@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: 'DM Sans';
  --color-primary: #C8553D;
  --color-secondary: #D4A843;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
